{% extends "base.html" %}
{% block content %}
<div style="height:800px">
</div>

		<div id="form-content" style="padding-top:150px" class="modal fade in" data-backdrop="static" data-keyboard="false">
                     <div class="modal-dialog">
                      <div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Sign Up</h3>
			</div>
			<div class="modal-body">
			  <div class="social-buttons">
			  <a href="{% url "social:begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-lg btn-facebook btn-block">
		<i class="fa fa-facebook-official"></i>
			  Log In with Facebook</a>

			  <a href="{% url "social:begin" "google-oauth2" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-lg btn-google btn-block">
			  <i class="fa fa-google"></i>
			  Log In with Google</a>
			</div>

                            <form id="formset" class="form-group" action="" method="post">{% csrf_token %}
                            {{ form.as_p }}
			</div>
			<div class="modal-footer">
                            <input type="submit" class="btn btn-lg btn-primary" id="submit" value="Submit" />
                            <input type="hidden" name="next" value="{{ request.GET.next }}" />
                            </form>
			</div>
                     </div>
                  </div>
		</div>
	   </div>
<script>
		$(document).ready(function () {
                    $(window).load(function(){
                    $('#form-content').modal('show');
                    });
                });
</script>

{% endblock %}
