{% extends "base.html" %}
{% load coffeescript %}
{% block includes %}
<script type="text/javascript" src="{% static "scripts/papaya.js"%}"/>
{% endblock %}
{% block head %}
<script src="{% static "scripts/d3.v3.min.js" %}"></script>
<style>
#NeuroVaultPapayaHolder{
    height:650px;
}
</style>
{% include 'statmaps/_papaya_viewer_head.html.haml' %}
<script type="text/javascript"> 
var addthis_config = {
     data_track_clickback: false 
} 

     var params = [];
     params["worldSpace"] = true;
     params["expandable"] = true;
     params["images"] = ["{% static "images/MNI152.nii.gz"%}", "{{ image1.file.url }}", "{{ image2.file.url }}"];

</script>
{% endblock %}
{% block content %}

<h2><a href="/images/{{image1.id}}">{{name1}}</a> vs. <a href="/images/{{image2.id}}">{{name2}}</a></h2>

<div style="width:99%; margin-left:-10px;">
     <ul id='collection-tabs' class='nav nav-tabs' style="padding-top:50px; margin-left:15px; width:890px">
         <li>
           <a data-toggle='tab' href='#scatter'>Voxelwise</a>
         </li>
         <li>
           <a data-toggle='tab' href='#spatial'>Spatial</a>
         </li>
     </ul>
</div>
     <div class='tab-content'>

            <!-- Scatterplot Comparison -->
            <div id='scatter' class='tab-pane active'>
               
           {% if warnings %}
               {% for warning in warnings %}
                   <div class="alert alert-danger" style="width:90%; margin-bottom:5px; margin-top:5px">{{ warning }}</div>   
               {% endfor %}
           {% endif %}

           {% autoescape off %}
               {% for snippet in html %}
                   {{ snippet }}
               {% endfor %}
           {% endautoescape %}

           <div style="width:90%; margin-left:42px; margin-top:30px">
           <h5>About</h5>
               <div class="well">
                Regional correlations are calculated from a brain-masked, 4mm transformation of the original image.  This visualization displays every 10th voxel for rendering purposes only.</div>
           </div>
           </div><!--/Scatterplot Comparison-->

           <!--Spatial Comparison -->
           <div id='spatial' class='tab-pane'>
                   
           <div id="NeuroVaultPapayaHolder" style="width:860px; height:650px;">
           <div class="papaya" data-params="params"></div>
           </div>


     </div><!--/Tab Content-->
     <div style="width:90%; margin-left:42px;">
     <p><a href="/images/find_similar/{{image1.id}}">Back to Find Similar</a></p>
     </div>

{% endblock %}
