{% extends "base.html" %}
{% load coffeescript %}
{% block includes %}
<script type="text/javascript" src="{% static "scripts/papaya.js"%}"/>
{% endblock %}
{% block head %}
<style>
#NeuroVaultPapayaHolder{
    height:650px;
}
</style>
{% include 'statmaps/_papaya_viewer_head.html.haml' %}
<script type="text/javascript"> 
var addthis_config = {
     data_track_clickback: false 
} 

     var params = [];
     params["worldSpace"] = true;
     params["expandable"] = true;
     params["images"] = ["{% static "images/MNI152.nii.gz"%}", "{{ image1.file.url }}", "{{ image2.file.url }}"];

</script>
{% endblock %}
{% block content %}

<h2><a href="/images/{{image1.id}}">{{name1}}</a> vs. <a href="/images/{{image2.id}}">{{name2}}</a></h2>
   
   <div id="NeuroVaultPapayaHolder" style="width:860px; height:650px;">
   <div class="papaya" data-params="params"></div>
   </div>

<div style="width:90%; margin-left:42px; margin-top:30px">
    <p><a href="/images/compare/{{image1.id}}/{{image2.id}}">Back to Image Comparison</a></p>
</div>


{% endblock %}


